@use "variables" as *;
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/Pretendard-Light.woff2") format("woff2"),
    url("/assets/fonts/Pretendard-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/Pretendard-Regular.woff2") format("woff2"),
    url("/assets/fonts/Pretendard-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/Pretendard-Medium.woff2") format("woff2"),
    url("/assets/fonts/Pretendard-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("/assets/fonts/Pretendard-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/Pretendard-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/Pretendard-Bold.woff2") format("woff2"),
    url("/assets/fonts/Pretendard-Bold.woff") format("woff");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  letter-spacing: -0.02rem;
}

body {
  font-family: "Pretendard", sans-serif;
  color: var(--gray-100);
  font-size: 1.5rem;
  font-weight: 400;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* ---------------------- scroll ---------------------- */
::-webkit-scrollbar {
  width: 0.7rem; /* 세로 스크롤 두께 */
  height: 0.7rem; /* 가로 스크롤 두께 */
}

::-webkit-scrollbar-track {
  background: var(--gray-20);
  border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-60);
  border-radius: 0.4rem;
  border: 2px solid var(--gray-20);
}

/* ---------------------- common ---------------------- */
.border-top-none {
  border-top: none !important;
}
.w80 {
  width: 8rem !important;
}
.w120 {
  width: 12rem !important;
}
.w100p {
  width: 100% !important;
}
.w150 {
  width: 15rem !important;
}
.w200 {
  width: 20rem !important;
}
.w280 {
  width: 28rem !important;
}
.w330 {
  width: 33rem !important;
}
.flex-auto {
  flex: none !important;
}
.flex-full {
  flex: 1 !important;
}
.dis-flex {
  display: flex !important;
}
.width-auto {
  width: auto !important;
}
.no-img {
  background-color: var(--gray-10);
  border: 1px solid var(--gray-50);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  img {
    width: auto !important;
    height: auto !important;
  }
}
.overflow-hidden {
  overflow: hidden !important;
}
.air-datepicker-global-container {
  z-index: 10000;
}

/* ---------------------- form ---------------------- */
input,
select,
textarea {
  font-weight: 400;
  &:focus {
    outline: none;
  }
  border: 1px solid var(--gray-50);
  &:hover {
    border-color: var(--primary-color);
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 4rem !important;
  background: url("../images/blt_select.png") no-repeat right 1.5rem center;
  background-size: 1.1rem;
}
textarea {
  padding: 1rem;
  resize: none;
  overflow: auto;
  background-color: var(--gray-0);
  color: var(--gray-100);
}
input,
select,
textarea {
  &[disabled] {
    background-color: var(--gray-10);
    color: var(--gray-70);
    &:hover {
      border-color: var(--gray-50);
    }
  }
}
input,
textarea {
  &:read-only {
    background-color: var(--gray-10);
    &:hover {
      border-color: var(--gray-50);
    }
  }
}
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  input {
    display: none;
  }

  span {
    width: 2rem;
    height: 2rem;
    border-radius: var(--base-round);
    border: 1px solid var(--gray-50);
    display: inline-flex;
    position: relative;
    background-color: var(--gray-0);
    margin-inline: 0.2rem;
  }

  input:checked + span {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    &::after {
      content: "";
      position: absolute;
      left: 0.6rem;
      top: 0.2rem;
      width: 0.6rem;
      height: 1.2rem;
      border: solid var(--gray-0);
      border-width: 0 0.2rem 0.2rem 0;
      transform: rotate(45deg);
    }
  }

  input:disabled + span {
    background-color: var(--gray-20);
    border-color: var(--gray-50);
    cursor: not-allowed;
    &::after {
      content: "";
      position: absolute;
      left: 0.6rem;
      top: 0.2rem;
      width: 0.6rem;
      height: 1.2rem;
      border: solid var(--gray-50);
      border-width: 0 0.2rem 0.2rem 0;
      transform: rotate(45deg);
    }
  }
}

.custom-radio {
  display: inline-flex;
  align-items: end;
  cursor: pointer;
  margin-block: 0.5rem;

  input {
    display: none;
  }

  span {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid var(--gray-50);
    display: inline-flex;
    align-items: center;
    margin-right: 0.5rem;
    background-color: var(--gray-0);
  }

  input:checked + span {
    border: 5px solid var(--primary-color);
  }

  input:disabled + span {
    background-color: var(--gray-20);
    border: 5px solid var(--gray-50);
    cursor: not-allowed;

    &::after {
      display: block;
      background-color: var(--gray-50);
    }
  }
}

.switch-wrap {
  display: flex;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 4.8rem;
  height: 2.5rem;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-50);
  transition: 0.4s;
  border-radius: 1.3rem;
  margin-left: 0.5rem;
  &::before {
    position: absolute;
    content: "";
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    left: 0.3rem;
    top: calc(50% - 0.5px);
    transform: translateY(-50%);
    background-color: var(--gray-0);
    transition: 0.3s;
  }
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translate(1.8rem, -50%);
}

.datepicker {
  background: url("../images/ico_calendar.png") calc(100% - 0.5rem) 50%
    no-repeat;
  padding-right: 3rem !important;
  min-width: 12rem;
  cursor: pointer;
  &[disabled] {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url("../images/ico_calendar.png");
  }
}

/* ---------------------- text ---------------------- */
strong {
  font-weight: 400;
}
.text-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-bold {
  font-weight: 700 !important;
}
.text-point {
  color: var(--primary-color) !important;
}
.text-yellow {
  color: #e3aa08;
}
h1 {
  margin-left: 3rem;
  a {
    display: inline-flex;
    background: url("../images/logo.png") left 50% no-repeat;
    width: 10.1rem;
    height: 4.2rem;
    background-size: contain;
  }
}
h2 {
  width: 100%;
  text-align: center;
  a {
    display: inline-flex;
    background: url("../images/logo.png") left 50% no-repeat;
    width: 13.3rem;
    height: 5rem;
    background-size: contain;
  }
}
h3 {
  font-size: 2.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
h4 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
h5 {
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.title-center {
  justify-content: center;
}
.guide-txt {
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: end;
  &::before {
    content: "!";
    width: 1.8rem;
    height: 1.8rem;
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    margin-right: 0.4rem;
    color: var(--gray-0);
    padding-left: 0.7rem;
    font-size: 1.2rem;
    font-weight: 800;
    background-color: var(--gray-100);
    line-height: 1;
  }
}
.guide-txt.point-color {
  color: var(--primary-color);
  &::before {
    background-color: var(--primary-color);
  }
}
.essential {
  &::before {
    content: "*";
    font-weight: 700;
    color: var(--red-color);
    display: inline-flex;
    margin-right: 0.2rem;
    transform: translateY(0.2rem);
  }
}
.text-blt {
  padding-left: 1rem;
  line-height: 1.4;
  position: relative;
  &::before {
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    border-radius: var(--base-round);
    display: inline-flex;
    background-color: var(--gray-60);
    margin-right: 0.4rem;
    position: absolute;
    top: 0.7rem;
    left: 0;
  }
}

.text-box {
  display: inline-flex;
  padding: 0.1rem 0.5rem;
  border: 1px solid var(--gray-50);
  align-items: center;
  justify-content: center;
  border-radius: var(--base-round);
  font-size: 1.3rem;
  margin-inline: 0.8rem;
  font-weight: 500;
  color: var(--primary-color);
}

/* ---------------------- space ---------------------- */
.ma10 {
  margin: 1rem !important;
}
.ma20 {
  margin: 2rem !important;
}
.mat5 {
  margin-top: 0.5rem !important;
}
.mat10 {
  margin-top: 1rem !important;
}
.mat20 {
  margin-top: 2rem !important;
}
.mat30 {
  margin-top: 3rem !important;
}
.mat40 {
  margin-top: 4rem !important;
}
.mal10 {
  margin-left: 1rem !important;
}
.mal20 {
  margin-left: 2rem !important;
}
.mar10 {
  margin-right: 1rem !important;
}
.mar20 {
  margin-right: 2rem !important;
}
.mar30 {
  margin-right: 3rem !important;
}
.mab10 {
  margin-bottom: 1rem !important;
}
.mab20 {
  margin-bottom: 2rem !important;
}
.mab30 {
  margin-bottom: 3rem !important;
}
.mab40 {
  margin-bottom: 4rem !important;
}
.mab50 {
  margin-bottom: 5rem !important;
}
/* ---------------------- tootip ---------------------- */
.tooltip {
  position: relative;
  .tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: var(--gray-100);
    color: var(--gray-0);
    text-align: center;
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 100;

    &::after {
      content: "";
      position: absolute;
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent var(--gray-100) transparent;
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}
.tooltip.tooltip-top {
  .tooltip-text {
    bottom: 120%;
    &::after {
      transform: rotate(-180deg) translateX(50%);
      top: 100%;
    }
  }
}

/* ---------------------- tab ---------------------- */
.tab-wrap {
  border-bottom: 1px solid var(--gray-50);
  display: flex;
  margin-left: 0.1rem;
  li {
    border: 1px solid var(--gray-50);
    border-top-width: 0.3rem;
    padding: 1rem 2.5rem;
    cursor: pointer;
    margin: 0 0 -0.1rem -0.1rem;
    &:hover {
      color: var(--primary-color);
      border-top-color: var(--primary-color);
    }
  }
  .on {
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: 600;
    border-bottom-color: var(--gray-0);
    position: relative;
    .number-box {
      border-color: var(--primary-color);
      color: var(--primary-color);
    }
  }
  .number-box {
    border: 1px solid var(--gray-50);
    border-radius: 0.7rem;
    min-width: 2.5rem;
    height: 1.8rem;
    padding-inline: 0.6rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 0.7rem;
    color: var(--gray-70);
  }
}
.tab-pane {
  display: none;
}
.tab-pane.on {
  display: block;
}
.tab-group {
  position: relative;
}
.pop-tab {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  a {
    display: inline-flex;
    border: 1px solid var(--gray-50);
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
  }
  a.on {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }
}

/* ---------------------- button ---------------------- */
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.btn-wrap {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-shrink: 0;
  [class^="btn-"] {
    border-radius: var(--base-round);
    font-weight: 500;
  }
  .btn-white {
    border: 1px solid var(--gray-50);
    padding: 1.2rem 3rem 1rem;
    &:hover {
      border-color: var(--primary-color);
      color: var(--primary-color);
    }
  }
  .btn-line {
    border: 1px solid var(--gray-100);
    padding: 1.2rem 3rem 1rem;
    &:hover {
      border-color: var(--primary-color);
      color: var(--primary-color);
    }
  }
  .btn-point-line {
    border: 1px solid var(--primary-color);
    padding: 1.2rem 3rem 1rem;
    color: var(--primary-color);
    &:hover {
      background-color: var(--secondary-color);
    }
  }
  .btn-point {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-100);
    color: var(--gray-0);
    padding: 1.2rem 3rem 1rem;
    &:hover {
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }
  }
  .btn-color-point {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--gray-0);
    padding: 1.2rem 3rem 1rem;
    position: relative;
    &:hover {
      background-color: var(--gray-0);
      border-color: var(--primary-color);
      color: var(--primary-color);
    }
  }
  .btn-yellow {
    background-color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    color: var(--gray-0);
    padding: 1.2rem 3rem 1rem;
    position: relative;
    &:hover {
      background-color: var(--gray-0);
      border-color: var(--yellow-color);
      color: var(--yellow-color);
    }
  }
  .btn-small {
    padding: 0.6rem 1rem;
    background-color: var(--gray-70);
    color: var(--gray-0);
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: -0.1rem;
    &:hover {
      background-color: var(--gray-100);
    }
  }
  .btn-short-line {
    display: inline-flex;
    align-items: center;
    height: 2rem;
    width: 0.1rem;
    background-color: var(--gray-50);
    margin: 0 1.5rem;
  }
}

.btn-wrap h3,
.btn-wrap h4,
.btn-wrap h5 {
  margin-right: auto;
}

.btn-wrap.btn-left {
  justify-content: flex-start;
}

.btn-wrap.btn-center {
  justify-content: center;
}

.btn-wrap.btn-right {
  justify-content: flex-end;
}
