$menus: menu01, menu02, menu03, menu04, menu05, menu06, menu07, menu08, menu09,
  menu10, menu11;

@mixin generate-menu-icons($color) {
  @each $menu in $menus {
    --icon-#{$menu}: url("../images/#{$color}/#{$menu}.svg");
  }
}
:root {
  --gray-0: #fff;
  --gray-10: #fafafa;
  --gray-20: #f4f5f6;
  --gray-40: #edeeef;
  --gray-50: #dee0e3;
  --gray-60: #acadae;
  --gray-70: #757779;
  --gray-100: #2c2e31;
  --red-color: #e64f56;
  --websize: 160rem;
  --text-small: 1.3rem;
  --base-round: 0.5rem;
  --pop-round: 1rem;
  --bi-font-family: "bootstrap-icons";
  --event-column-start: 1;
  --event-column-end: 7;
  --event-row-start: 1;
  --event-row-end: 6;
}

[data-theme="dark"] {
  --primary-color: #aaa;
  --gray-0: #2d333a;
  --gray-10: #3b4147;
  --gray-20: #161b21;
  --gray-40: #40454b;
  --gray-50: #4b5157;
  --gray-60: #7a7a7a;
  --gray-70: #999999;
  --gray-100: #ffffff;
  --red-color: #e64f56;
}

/* 테마별 색상  */
[data-theme-color="blue"] {
  --primary-color: #1277e7;
  --secondary-color: #e9f3ff;
  --bg-color: #f5f9fe;
  --icon-mypage: url("../images/icon/green/mypage.svg");
  @include generate-menu-icons("icon/blue");
  --icon-notice: url("../images/icon/blue/notice.svg");
  --icon-theme: url("../images/icon/blue/theme.svg");
  --icon-darkmode: url("../images/icon/blue/darkmode.svg");
  --icon-lightmode: url("../images/icon/blue/lightmode.svg");
  --icon-mypage: url("../images/icon/blue/mypage.svg");
  --icon-arrow1: url("../images/icon/blue/arrow1.svg");
  --icon-close: url("../images/icon/blue/close.svg");
  --icon-edit: url("../images/icon/blue/edit.svg");
  --icon-logout: url("../images/icon/blue/logout.svg");
  --icon-maximize: url("../images/icon/blue/maximize.svg");
  --icon-trash: url("../images/icon/blue/trash.svg");
  --icon-menu_align_up: url("../images/icon/blue/menu_align_up.svg");
  --icon-menu_align_down: url("../images/icon/blue/menu_align_down.svg");
}
[data-theme-color="green"] {
  --primary-color: #44c378;
  --secondary-color: #eafff0;
  --bg-color: #f4fef7;
  --icon-notice: url("../images/icon/green/notice.svg");
  --icon-theme: url("../images/icon/green/theme.svg");
  --icon-darkmode: url("../images/icon/green/darkmode.svg");
  --icon-lightmode: url("../images/icon/green/lightmode.svg");
  --icon-mypage: url("../images/icon/green/mypage.svg");
  @include generate-menu-icons("icon/green");
  --icon-arrow1: url("../images/icon/green/arrow1.svg");
  --icon-close: url("../images/icon/green/close.svg");
  --icon-edit: url("../images/icon/green/edit.svg");
  --icon-logout: url("../images/icon/green/logout.svg");
  --icon-maximize: url("../images/icon/green/maximize.svg");
  --icon-trash: url("../images/icon/green/trash.svg");
  --icon-menu_align_up: url("../images/icon/green/menu_align_up.svg");
  --icon-menu_align_down: url("../images/icon/green/menu_align_down.svg");
}
[data-theme-color="red"] {
  --primary-color: #e64f56;
  --secondary-color: #fff1f1;
  --bg-color: #fff8f8;
  --icon-notice: url("../images/icon/red/notice.svg");
  --icon-theme: url("../images/icon/red/theme.svg");
  --icon-darkmode: url("../images/icon/red/darkmode.svg");
  --icon-lightmode: url("../images/icon/red/lightmode.svg");
  --icon-mypage: url("../images/icon/red/mypage.svg");
  @include generate-menu-icons("icon/red");
  --icon-arrow1: url("../images/icon/red/arrow1.svg");
  --icon-close: url("../images/icon/red/close.svg");
  --icon-edit: url("../images/icon/red/edit.svg");
  --icon-logout: url("../images/icon/red/logout.svg");
  --icon-maximize: url("../images/icon/red/maximize.svg");
  --icon-trash: url("../images/icon/red/trash.svg");
  --icon-menu_align_up: url("../images/icon/red/menu_align_up.svg");
  --icon-menu_align_down: url("../images/icon/red/menu_align_down.svg");
}
[data-theme-color="black"] {
  --primary-color: #2c2e31;
  --secondary-color: #eee;
  --bg-color: #f6f6f6;
  --icon-notice: url("../images/icon/black/notice.svg");
  --icon-theme: url("../images/icon/black/theme.svg");
  --icon-darkmode: url("../images/icon/black/darkmode.svg");
  --icon-lightmode: url("../images/icon/black/lightmode.svg");
  --icon-mypage: url("../images/icon/black/mypage.svg");
  @include generate-menu-icons("icon/black");
  --icon-arrow1: url("../images/icon/black/arrow1.svg");
  --icon-close: url("../images/icon/black/close.svg");
  --icon-edit: url("../images/icon/black/edit.svg");
  --icon-logout: url("../images/icon/black/logout.svg");
  --icon-maximize: url("../images/icon/black/maximize.svg");
  --icon-trash: url("../images/icon/black/trash.svg");
  --icon-menu_align_up: url("../images/icon/black/menu_align_up.svg");
  --icon-menu_align_down: url("../images/icon/black/menu_align_down.svg");
  --icon-company: url("../images/icon/black/company.svg");
  --icon-user: url("../images/icon/black/user.svg");
  --icon-password: url("../images/black/password.svg");
}

html[data-theme="dark"] {
  --secondary-color: #21252a;
  --bg-color: #3b4147;
}

html[data-theme="dark"][data-theme-color="black"] {
  --icon-notice: url("../images/icon/dark/notice_on.svg");
  --icon-theme: url("../images/icon/dark/theme_on.svg");
  --icon-lightmode: url("../images/icon/dark/lightmode_on.svg");
  --icon-mypage: url("../images/icon/dark/mypage_on.svg");
  --icon-menu_align_up: url("../images/icon/black/menu_align_up2.svg");
  --icon-menu_align_down: url("../images/icon/black/menu_align_down2.svg");
  --primary-color: #fff;
  @include generate-menu-icons("icon");
}
