@use "../base/index" as *;
[data-theme="dark"] {
  input,
  select {
    background-color: rgba(255, 255, 255, 0);
    color: var(--gray-100);
  }
  select {
    background: url("../images/blt_select_dark.png") no-repeat right 1.5rem
      center;
  }
  .datepicker {
    background: url("../images/dark/ico_calendar.png") calc(100% - 0.5rem) 50%
      no-repeat;
    &[disabled] {
      background-image: linear-gradient(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        ),
        url("../images/dark/ico_calendar.png");
    }
  }
  option {
    background-color: var(--gray-40);
  }

  #header {
    h1 {
      a {
        background: url("../images/dark/logo.png") left 50% no-repeat;
      }
    }
    .util {
      .search-group {
        .util__form-icon {
          @include svg-icon("../images/icon/dark/search.svg", 1.5rem, 1.5rem);
        }
      }
      .authority-group {
        .util__form-icon {
          @include svg-icon("../images/icon/dark/authority.svg", 2rem, 2rem);
        }
      }
      &__icons {
        .ico-notice {
          @include svg-icon("../images/icon/dark/notice.svg", 2.5rem, 2.5rem);
          &:hover {
            background-image: var(--icon-notice);
          }
        }
        .ico-theme {
          @include svg-icon("../images/icon/dark/theme.svg", 2.5rem, 2.5rem);
          &:hover {
            background-image: var(--icon-theme);
          }
        }
        .ico-darkmode {
          @include svg-icon("../images/icon/dark/darkmode.svg", 2.5rem, 2.5rem);
          &:hover {
            background-image: var(--icon-darkmode);
          }
        }
        .dark {
          @include svg-icon("../images/icon/lightmode.svg", 2.5rem, 2.5rem);
          &:hover {
            background-image: var(--icon-lightmode);
          }
        }
        .ico-mypage {
          @include svg-icon("../images/icon/dark/mypage.svg", 2.5rem, 2.5rem);
          &:hover {
            background-image: var(--icon-mypage);
          }
        }
      }
    }
  }

  #lnb {
    .menu {
      background-color: var(--gray-0);
      border-right: 1px solid var(--gray-50);
      a {
        color: var(--gray-100);
      }
    }
    .smenu {
      &__con {
        .depth3 {
          .on {
            background-color: #565c62;
          }
        }
      }
    }
  }

  .top-tab {
    &__con {
      li {
        background: url("../images/dark/txt_line.png") right 50% no-repeat;
      }
    }
    &__btn {
      li {
        background: url("../images/dark/txt_line.png") right 50% no-repeat;
      }
    }
  }

  .main {
    &__left {
      background: #1f2a36 url("../images/dark/main_bg.png") right top no-repeat;
      .notice {
        &::before {
          @include svg-icon-bg(
            "../images/icon/dark/notice.svg",
            2.3rem,
            2.3rem
          );
        }
      }
    }
    &__ceo_left {
      background: #1f2a36 url("../images/dark/main_bg.png") right top no-repeat;
    }
  }

  .hr-wrap {
    &__intro {
      .hr-situation {
        .tenure {
          color: var(--gray-100);
        }
        .etc {
          color: var(--gray-100);
        }
        &__search {
          span {
            @include svg-icon("../images/icon/dark/search.svg", 1.1rem, 1.1rem);
          }
        }
      }
      .hr-contact {
        p {
          background: url("../images/dark/txt_line.png") right 50% no-repeat;
        }
        &__tel {
          span {
            @include svg-icon("../images/icon/dark/tel.svg", 1.8rem, 1.8rem);
          }
        }
        &__email {
          span {
            @include svg-icon("../images/icon/dark/email.svg", 1.8rem, 1.8rem);
          }
        }
      }
    }
  }
  .write-wrap {
    border-color: var(--gray-60);
  }
  .search-wrap {
    background-color: #3b4147;
  }

  .list-wrap {
    table td {
      &:hover {
        background-color: #21252a;
      }
    }
    table tr.selected {
      background-color: #21252a;
    }
  }

  .calendar-wrap {
    &__title {
      .calendar-blt {
        .yellow {
          background-color: #161b21;
        }
      }
    }
    .event.blue {
      background-color: #012247;
    }
    .event.green {
      background-color: #074117;
    }
    .event.red {
      background-color: #5c1e1e;
    }
    .event.yellow {
      background-color: #423205;
    }
  }
  .calendar {
    &__right {
      .birthday {
        background-color: #21252a;
      }
      .holiday {
        background-color: #21252a;
      }
      .attendance {
        background-color: #21252a;
      }
      .schedule {
        background-color: #21252a;
      }
    }
  }
  .pop-small {
    border: 1px solid var(--gray-50);
  }

  .pop-theme {
    .theme-setting {
      .blue {
        background: url("../images/dark/theme_blue.png") 50% 50% no-repeat;
      }
      .green {
        background: url("../images/dark/theme_green.png") 50% 50% no-repeat;
      }
      .red {
        background: url("../images/dark/theme_red.png") 50% 50% no-repeat;
      }
      .black {
        background: url("../images/dark/theme_black.png") 50% 50% no-repeat;
      }
      .on {
        a {
          &::after {
            background: var(--gray-70) url("../images/theme_check.png") 0.3rem
              0.3rem no-repeat;
          }
        }
        color: var(--primary-color);
      }
    }
  }
  .pop-tab {
    a.on {
      background-color: var(--gray-40);
    }
  }

  .grade-s {
    background-color: #690101;
    color: var(--gray-100);
    border-color: #690101;
  }
  .grade-a {
    background-color: #025018;
    color: var(--gray-100);
    border-color: #025018;
  }
  .grade-b {
    background-color: #523d04;
    color: var(--gray-100);
    border-color: #523d04;
  }
  .grade-c {
    background-color: #04336b;
    color: var(--gray-100);
    border-color: #04336b;
  }
  .grade-d {
    background-color: var(--gray-70);
    color: var(--gray-0);
  }
  .grade-level {
    .grade-s {
      background-color: #690101;
      color: var(--gray-100);
      border-color: #690101;
      &:hover {
        background-color: #e64f56;
        color: var(--gray-100);
        border-color: #e64f56;
      }
    }
    .grade-s.on {
      background-color: #e64f56;
      color: var(--gray-100);
      border-color: #e64f56;
    }
    .grade-a {
      background-color: #025018;
      color: var(--gray-100);
      border-color: #025018;
      &:hover {
        background-color: #44c378;
        color: var(--gray-100);
        border-color: #44c378;
      }
    }
    .grade-a.on {
      background-color: #44c378;
      color: var(--gray-100);
      border-color: #44c378;
    }
    .grade-b {
      background-color: #523d04;
      color: var(--gray-100);
      border-color: #523d04;
      &:hover {
        background-color: var(--yellow-color);
        color: var(--gray-100);
        border-color: var(--yellow-color);
      }
    }
    .grade-b.on {
      background-color: var(--yellow-color);
      color: var(--gray-100);
      border-color: var(--yellow-color);
    }
    .grade-c {
      background-color: #04336b;
      color: var(--gray-100);
      border-color: #04336b;
      &:hover {
        background-color: #1277e7;
        color: var(--gray-100);
        border-color: #1277e7;
      }
    }
    .grade-c.on {
      background-color: #1277e7;
      color: var(--gray-100);
      border-color: #1277e7;
    }
    .grade-d {
      background-color: var(--gray-70);
      color: var(--gray-0);
      &:hover {
        background-color: var(--gray-10);
        color: var(--gray-100);
        border-color: var(--gray-10);
      }
    }
    .grade-d.on {
      background-color: var(--gray-10);
      color: var(--gray-100);
      border-color: var(--gray-10);
    }
  }
}

[data-theme="dark"][data-theme-color="black"] {
  .search-wrap {
    .search-btn-wrap {
      border-left: 1px solid var(--gray-50);
      padding-inline: 4rem;
      flex: none;
      .btn-search::before {
        content: "";
        margin-right: 0.4rem;
        @include svg-icon("../images/icon/search.svg", 1.2rem, 1.2rem);
      }
    }
  }
  .hr-wrap {
    &__intro {
      .hr-situation {
        .tenure {
          color: var(--gray-0);
        }
        .etc {
          color: var(--gray-0);
        }
      }
    }
  }
}
