@use "../base/variables" as *;
@use "../base/mixin" as *;

#wrap {
  min-width: var(--websize);
  background-color: var(--gray-20);
  display: flex;
  flex-direction: column;
  max-height: 100%;
  height: 100%;
}

/* ---------------------- header ---------------------- */
#header {
  height: 6rem;
  background-color: var(--gray-0);
  border-bottom: 1px solid var(--gray-50);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .util {
    display: flex;
    margin-right: 2rem;
    li {
      margin-inline: 0.5rem;
    }
    .search-group,
    .authority-group {
      border: 1px solid var(--gray-40);
      height: 3.4rem;
      border-radius: var(--base-round);
      display: flex;
      align-items: center;
      padding-inline: 1rem 0;
      input,
      select {
        border: none;
        padding-inline: 0.5rem;
        width: 100%;
        &::placeholder {
          color: var(--gray-100);
        }
        height: 3.2rem;
        border-radius: var(--base-round);
      }
      &:has(input:focus),
      &:has(select:focus) {
        border-color: var(--primary-color);
      }
    }
    .search-group {
      width: 21rem;
      .util__form-icon {
        @include svg-icon("../images/icon/search.svg", 1.5rem, 1.5rem);
      }
    }
    .authority-group {
      .util__form-icon {
        @include svg-icon("../images/icon/authority.svg", 2rem, 2rem);
      }
    }
    &__icons {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      padding-left: 1rem;
      a {
        display: block;
        position: relative;
      }
      &__on {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background-color: var(--red-color);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 2px solid var(--gray-0);
      }
      .ico-notice {
        @include svg-icon("../images/icon/notice.svg", 2.5rem, 2.5rem);
        &:hover {
          background-image: var(--icon-notice);
        }
      }
      .ico-theme {
        @include svg-icon("../images/icon/theme.svg", 2.5rem, 2.5rem);
        &:hover {
          background-image: var(--icon-theme);
        }
      }
      .ico-darkmode {
        @include svg-icon("../images/icon/darkmode.svg", 2.5rem, 2.5rem);
        &:hover {
          background-image: var(--icon-darkmode);
        }
      }
      .dark {
        @include svg-icon("../images/icon/lightmode.svg", 2.5rem, 2.5rem);
        &:hover {
          background-image: var(--icon-lightmode);
        }
      }
      .ico-mypage {
        @include svg-icon("../images/icon/mypage.svg", 2.5rem, 2.5rem);
        &:hover {
          background-image: var(--icon-mypage);
        }
      }
    }
  }
}

#container {
  flex: 1;
  display: flex;
  min-height: 0;
}

/* ---------------------- lnb ---------------------- */
#lnb {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  transition: width 0.3s ease;
  background-color: var(--gray-0);
  .menu {
    width: 7rem;
    background-color: var(--primary-color);
    padding-top: 1rem;
    position: relative;
    z-index: 1;
    a {
      display: block;
      text-align: center;
      font-size: var(--text-small);
      color: var(--gray-0);
      font-weight: 600;
      padding-block: 1rem;
      opacity: 0.6;
      span {
        display: block;
        width: 3.4rem;
        height: 3.4rem;
        border-radius: var(--base-round);
        margin: 0 auto 0.7rem;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    a.on,
    a:hover {
      opacity: 1;
      span {
        background-color: var(--gray-0);
      }
    }
    .menu01 {
      span {
        &::after {
          @include svg-icon("../images/icon/menu01.svg", 2.5rem, 2.5rem);
        }
      }
      &:hover span::after {
        background-image: var(--icon-menu01);
      }
    }
    .menu01.on span::after {
      background-image: var(--icon-menu01);
    }
    .menu02 {
      span {
        &::after {
          @include svg-icon("../images/icon/menu02.svg", 2.5rem, 2.5rem);
        }
      }
      &:hover span::after {
        background-image: var(--icon-menu02);
      }
    }
    .menu02.on span::after {
      background-image: var(--icon-menu02);
    }
    .menu03 {
      span {
        &::after {
          @include svg-icon("../images/icon/menu03.svg", 2.5rem, 2.5rem);
        }
      }
      &:hover span::after {
        background-image: var(--icon-menu03);
      }
    }
    .menu03.on span::after {
      background-image: var(--icon-menu03);
    }
    .menu04 {
      span {
        &::after {
          @include svg-icon("../images/icon/menu04.svg", 2.5rem, 2.5rem);
        }
      }
      &:hover span::after {
        background-image: var(--icon-menu04);
      }
    }
    .menu04.on span::after {
      background-image: var(--icon-menu04);
    }
    .menu05 {
      span {
        &::after {
          @include svg-icon("../images/icon/menu05.svg", 2.5rem, 2.5rem);
        }
      }
      &:hover span::after {
        background-image: var(--icon-menu05);
      }
    }
    .menu05.on span::after {
      background-image: var(--icon-menu05);
    }
    .menu06 {
      span {
        &::after {
          @include svg-icon("../images/icon/menu06.svg", 2.5rem, 2.5rem);
        }
      }
      &:hover span::after {
        background-image: var(--icon-menu06);
      }
    }
    .menu06.on span::after {
      background-image: var(--icon-menu06);
    }
    .menu07 {
      span {
        &::after {
          @include svg-icon("../images/icon/menu07.svg", 2.5rem, 2.5rem);
        }
      }
      &:hover span::after {
        background-image: var(--icon-menu07);
      }
    }
    .menu07.on span::after {
      background-image: var(--icon-menu07);
    }
    .menu08 {
      span {
        &::after {
          @include svg-icon("../images/icon/menu08.svg", 2.5rem, 2.5rem);
        }
      }
      &:hover span::after {
        background-image: var(--icon-menu08);
      }
    }
    .menu08.on span::after {
      background-image: var(--icon-menu08);
    }
    .menu09 {
      span {
        &::after {
          @include svg-icon("../images/icon/menu09.svg", 2.5rem, 2.5rem);
        }
      }
      &:hover span::after {
        background-image: var(--icon-menu09);
      }
    }
    .menu09.on span::after {
      background-image: var(--icon-menu09);
    }
    .menu10 {
      span {
        &::after {
          @include svg-icon("../images/icon/menu10.svg", 2.5rem, 2.5rem);
        }
      }
      &:hover span::after {
        background-image: var(--icon-menu10);
      }
    }
    .menu10.on span::after {
      background-image: var(--icon-menu10);
    }
    .menu11 {
      span {
        &::after {
          @include svg-icon("../images/icon/menu11.svg", 2.5rem, 2.5rem);
        }
      }
      &:hover span::after {
        background-image: var(--icon-menu11);
      }
    }
    .menu11.on span::after {
      background-image: var(--icon-menu11);
    }
  }
  .smenu {
    width: 17rem;
    height: 100%;
    border-right: 1px solid var(--gray-50);
    overflow-y: auto;
    &__icons {
      border-bottom: 1px solid var(--gray-50);
      padding-inline: 1rem;
      position: sticky;
      top: 0;
      left: 0;
      background-color: var(--gray-0);
      a {
        margin-right: 0.5rem;
        display: inline-flex;
        height: 3.2rem;
        align-items: center;
      }
      .tooltip-text {
        left: 2rem;
        bottom: -80%;
        &::after {
          left: 1.5rem;
          transform: translateX(0);
        }
      }
      .smenu-align {
        @include svg-icon("../images/icon/menu_align.svg", 0.9rem, 0.9rem);
      }
      .align-close {
        background-image: var(--icon-menu_align_up);
        width: 0.6rem;
        height: 1rem;
      }
      .align-open {
        background-image: var(--icon-menu_align_down);
        width: 0.6rem;
        height: 1rem;
      }
    }
    &__con {
      overflow-y: auto;
      .depth2 {
        display: block;
        border-bottom: 1px solid var(--gray-40);
        cursor: pointer;
        height: 4rem;
        display: flex;
        align-items: center;
        padding: 0 2.8rem 0 1.5rem;
        font-weight: 600;
        &:hover {
          background-color: var(--gray-10);
        }
      }
      .has-child {
        background: url("../images/menu_open.png") calc(100% - 1rem)
          calc(50% - 0.3rem) no-repeat;
      }
      .on {
        background: url("../images/menu_fold.png") calc(100% - 1rem)
          calc(50% - 0.3rem) no-repeat;
      }
      .depth3 {
        background-color: var(--gray-10);
        overflow: hidden;
        height: 0;
        transition: height 0.3s ease;
        a {
          display: block;
          height: 3rem;
          display: flex;
          align-items: center;
          padding: 0 1.5rem;
          font-size: var(--text-small);
          &:hover {
            background-color: var(--gray-40);
          }
        }
        .on {
          background-color: var(--gray-40);
          background-image: none;
        }
      }
      .depth2.on + .depth3 {
        height: auto;
        border-bottom: 1px solid var(--gray-40);
      }
    }
  }
  .btn-smenu-fold {
    width: 1.5rem;
    height: 3.4rem;
    border: 1px solid var(--gray-50);
    position: absolute;
    right: 0rem;
    top: -0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: var(--gray-0);
    &:hover {
      background-color: var(--gray-10);
      span {
        background-image: var(--icon-arrow1);
      }
    }
    span {
      @include svg-icon("../images/icon/arrow1.svg", 1.5rem, 1.5rem);
    }
  }
  .btn-smenu-fold.off {
    right: -1.4rem;
    border-left: none;
    span {
      transform: rotate(180deg);
    }
  }
  .smenu.folded {
    width: 0;
    transform: translateX(-100%);
  }
}

/* ---------------------- contents ---------------------- */
#contents {
  position: relative;
  z-index: 1;
  flex: 1;
}
.top-tab {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: -0.1rem;
  &__con {
    display: flex;
    overflow-x: hidden;
    flex: 1;
    margin: 0.3rem 2rem 0;
    li {
      flex: 0 0 auto;
      background: url("../images/txt_line.png") right 50% no-repeat;
      position: relative;
      &:first-child {
        a.on {
          margin-left: 0;
        }
      }
      a {
        color: var(--gray-70);
        font-size: var(--text-small);
        padding-inline: 1rem 0.5rem;
        height: 3rem;
        display: inline-flex;
        align-items: center;
        &::after {
          content: "";
          @include svg-icon("../images/icon/close.svg", 1.5rem, 1.5rem);
          margin-left: 1.5rem;
        }
        &:hover {
          color: var(--primary-color);
          &::after {
            background-image: var(--icon-close);
          }
        }
      }
      a.on {
        background-color: var(--gray-0);
        border: 1px solid var(--gray-50);
        border-bottom: 0;
        border-radius: var(--base-round) var(--base-round) 0 0;
        margin: 0 0 0 -0.1rem;
        color: var(--gray-100);
        font-weight: 700;
      }
      &:has(> a.on) {
        background: none;
      }
    }
  }
  &__btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    box-shadow: -3px 0 4px -2px rgba(0, 0, 0, 0.2);
    width: 6rem;
    justify-content: space-between;
    height: 3rem;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      background: url("../images/txt_line.png") right 50% no-repeat;
      &:last-child {
        background: none;
      }
    }
    a {
      pointer-events: none;
      opacity: 0.3;
    }
    .btn-prev {
      @include svg-icon("../images/icon/arrow1.svg", 1.8rem, 1.8rem);
      &:hover {
        background-image: var(--icon-arrow1);
      }
    }
    .btn-next {
      @include svg-icon("../images/icon/arrow1.svg", 1.8rem, 1.8rem);
      transform: rotate(180deg);
      margin-left: 0.5rem;
      &:hover {
        background-image: var(--icon-arrow1);
      }
    }
  }
  &__btn.active li a {
    opacity: 1;
    pointer-events: auto;
  }
  &__menu {
    background-color: var(--gray-10);
    border-radius: var(--base-round);
    border: 1px solid var(--gray-50);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 1rem 0;
    a {
      display: flex;
      align-items: center;
      color: var(--gray-70);
      font-size: var(--text-small);
      padding: 0.7rem 1.5rem;
      &::before {
        content: "";
        margin-right: 0.5rem;
      }
      &:hover {
        color: var(--primary-color);
        background-color: var(--gray-40);
        &::before {
          color: var(--primary-color);
        }
      }
    }
    .fixed::before {
      @include boots-icon("\F4ED", 1.3rem, var(--gray-70));
    }
    .delete::before {
      @include boots-icon("\F78B", 1.3rem, var(--gray-70));
    }
    .reload::before {
      @include boots-icon("\F130", 1.3rem, var(--gray-70));
    }
    .other-close::before {
      @include boots-icon("\F799", 1.3rem, var(--gray-70));
    }
  }
}
.cont-wrap {
  background-color: var(--gray-0);
  border-top: 1px solid var(--gray-50);
  padding: 2rem;
  max-height: calc(100% - 3.2rem);
  height: calc(100% - 3.2rem);
  min-height: 0;
  overflow-y: auto;
}
.cont-wrap-100 {
  display: flex;
  flex-direction: column;
}
