@use "../base/index" as *;
.main {
  width: 122rem;
  margin: 2rem auto 0;
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 10rem);
  max-height: calc(100vh - 10rem);
  min-height: 0;
  &__ceo_left {
    width: 28rem;
    min-height: 66rem;
    height: calc(100% - 14rem);
    background: #e3eefa url("../images/main_bg.png") right top no-repeat;
    border: 1px solid var(--gray-50);
    border-radius: var(--base-round);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4rem 1rem;
    position: relative;
  }
  &__ceo_center {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 28rem minmax(10rem, 1fr) 24rem;
    gap: 2rem;
    margin-inline: 2rem;
    height: calc(100% - 14rem);
  }
  &__ceo_right {
    width: 32rem;
    min-height: 80rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__ceo_bottom {
    position: absolute;
    bottom: -14rem;
    left: 0;
    width: 88rem;
    height: 12rem;
  }
  &__left {
    width: 40rem;
    background: #e3eefa url("../images/main_bg.png") right top no-repeat;
    border: 1px solid var(--gray-50);
    border-radius: var(--base-round);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 6rem 4rem 2rem;
  }
  &__right {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr minmax(0, 25rem);
    gap: 2rem;
    margin-left: 2rem;
  }
  .tooltip-text {
    bottom: 2.5rem;

    &::after {
      top: 100%;
      border-color: var(--gray-100) transparent transparent transparent;
    }
  }
}
/* 슬로건 */
.slogan {
  margin: 0 2rem;
  strong {
    font-size: 3.5rem;
    font-weight: 700;
    display: block;
    word-break: keep-all;
    line-height: 1.1;
  }
  span {
    font-size: 1.8rem;
    margin-top: 2rem;
    font-weight: 300;
    display: block;
    word-break: keep-all;
  }
}
.main__left {
  .slogan {
    strong {
      font-size: 4.2rem;
    }
  }
}
/* 개인정보 */
.myinfo {
  &__photo {
    display: flex;
    align-items: center;
    margin-inline: 2rem;
    .photo img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
    }
    .name {
      margin-left: 1.5rem;
      strong {
        font-size: 2.4rem;
        font-weight: 600;
        display: block;
      }
      span {
        margin-top: 0.5rem;
        font-weight: 300;
        display: block;
      }
    }
  }
  &__count {
    background-color: var(--gray-0);
    border-radius: var(--base-round);
    margin-block: 2rem;
    display: flex;
    .count {
      padding-block: 2rem;
      flex: 1;
      text-align: center;
      strong {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        height: 5rem;
        &::before {
          margin-bottom: 1rem;
        }
      }
      span {
        margin-top: 0.5rem;
        font-weight: 700;
        display: block;
        text-align: center;
      }
    }
    a:hover {
      strong {
        color: var(--primary-color);
        &::before {
          color: var(--primary-color);
        }
      }
      span {
        color: var(--primary-color);
      }
      .notice {
        &::before {
          background-image: var(--icon-notice);
        }
      }
    }
    .personnel {
      &::before {
        @include svg-icon-bg("../images/icon/people.svg", 2.3rem, 2.3rem);
      }
    }
    .tenure {
      &::before {
        @include boots-icon("\F1CC", 1.8rem, var(--gray-100));
      }
    }
    .notice {
      &::before {
        @include svg-icon-bg("../images/icon/notice.svg", 2.3rem, 2.3rem);
      }
    }
    .alarm {
      &::before {
        @include boots-icon("\F28B", 1.8rem, var(--gray-100));
      }
    }
    .absence {
      &::before {
        @include svg-icon-bg("../images/icon/absence.svg", 2rem, 2rem);
      }
    }
  }
  &__graph {
    display: flex;
    gap: 3rem;
    margin-inline: 1rem;
    .graph {
      flex: 1;
      strong {
        display: block;
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
    .graph-wrap {
      display: flex;
      gap: 1rem;
      white-space: nowrap;
      align-items: center;
      margin-top: 1rem;
      font-weight: 600;
      font-size: 1.6rem;
      .graph-bg {
        height: 0.8rem;
        background-color: var(--gray-0);
        border-radius: 0.4rem;
        width: 100%;
        position: relative;
        span {
          position: absolute;
          left: 0;
          top: 0;
          height: 0.8rem;
          background-color: var(--primary-color);
          display: inline-flex;
          border-radius: 0.4rem;
        }
      }
    }
  }
}
.main__left {
  .myinfo {
    &__photo {
      margin-inline: 0;
    }
  }
}
.main-box {
  background-color: var(--gray-0);
  border-radius: var(--base-round);
  border: 1px solid var(--gray-50);
}
/* 달력(근태현황) */
.calendar {
  grid-column: 1 / span 2;
  display: flex;
  &__left {
    width: calc(100% - 23.5rem);
    padding: 3rem;
    .title {
      display: flex;
      justify-content: space-between;
    }
    strong {
      font-size: 1.8rem;
      font-weight: 600;
    }
    .calendar-btn {
      a {
        display: inline-flex;
        margin-left: 0.5rem;
      }
      .prev {
        &::before {
          @include boots-icon("\F284", 1.8rem, var(--gray-100));
        }
      }
      .next {
        &::before {
          @include boots-icon("\F285", 1.8rem, var(--gray-100));
        }
      }
    }
    .main-calendar-wrap {
      font-size: 1.3rem;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      height: 92%;
    }
    .main-calendar-header {
      display: flex;
      span {
        display: block;
        width: calc(100% / 7);
        text-align: center;
        color: var(--gray-60);
        margin: 2.5rem 0 1rem;
      }
    }
    .main-calendar-body {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      height: 100%;
      .calendar-day {
        width: calc(100% / 7);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        border-radius: var(--base-round);
        &:hover {
          background-color: var(--gray-20);
        }
      }
      .on {
        background-color: var(--secondary-color);
      }
      .event-group {
        position: absolute;
        top: -6px;
        span {
          width: 0.4rem;
          height: 0.4rem;
          border-radius: 50%;
          display: inline-flex;
        }
        .birthday {
          background-color: #f3c950;
        }
        .holiday {
          background-color: #e64f56;
        }
        .attendance {
          background-color: #44c378;
        }
        .schedule {
          background-color: #1277e7;
        }
      }
    }
  }
  &__right {
    width: 23.5rem;
    border-left: 1px solid var(--gray-40);
    padding-inline: 2rem;
    .attendance-list {
      margin-top: 1.5rem;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--gray-50);
        padding: 1rem;
        cursor: pointer;
        &:hover {
          strong {
            color: var(--primary-color);
          }
        }
      }
      strong {
        font-size: 1.6rem;
        font-weight: 600;
      }
      span {
        width: 6.5rem;
        height: 2.6rem;
        border-radius: 1.3rem;
        display: inline-flex;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 500;
        &::before {
          content: "";
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          margin-inline: 0.6rem;
        }
      }
      .birthday {
        background-color: #fff3d1;
        &::before {
          background-color: #f3c950;
        }
      }
      .holiday {
        background-color: #fff1f1;
        &::before {
          background-color: #e64f56;
        }
      }
      .attendance {
        background-color: #eafff0;
        &::before {
          background-color: #44c378;
        }
      }
      .schedule {
        background-color: #e9f3ff;
        &::before {
          background-color: #1277e7;
        }
      }
    }
  }
}

.main__right {
  .calendar {
    grid-column: 1 / span 4;
    &__left {
      width: 50%;
      padding: 3rem 5rem;
    }
    &__right {
      width: 50%;
      h5 {
        justify-content: center;
        padding-top: 3rem;
      }
      .date {
        font-size: 1.8rem;
        color: var(--gray-70);
        text-align: center;
        margin-top: 1rem;
      }
      .attendance-list {
        margin-top: 3rem;
        li {
          width: calc(50% - 2rem);
          float: left;
          margin-inline: 1rem;
        }
      }
    }
  }
}

/* banner */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .btn-notice {
    display: inline-flex;
    justify-content: center;
    background-color: var(--gray-70);
    color: var(--gray-0);
    font-size: 1.3rem;
    margin-top: 1.5rem;
    border-radius: var(--base-round);
    height: 2.3rem;
    line-height: 2.3rem;
    padding-inline: 1.5rem;
    &:hover {
      background-color: var(--primary-color);
    }
  }
}

.main__right {
  .banner {
    position: relative;
    justify-content: space-between;
    align-items: baseline;
    padding: 4rem 3rem;
    .icon {
      height: 7rem;
      display: flex;
      align-items: center;
    }
    .stitle {
      font-size: 1.3rem;
      color: var(--gray-60);
    }
    .title {
      font-size: 1.8rem;
      font-weight: 600;
      margin-top: 0.5rem;
    }
  }
}
/* 퇴직현황 */
.retirement {
  padding-top: 5rem;
  text-align: center;
  position: relative;
  &__con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .graph-wrap {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    padding-inline: 3rem;
    strong {
      display: inline-flex;
      color: var(--primary-color);
      font-weight: 600;
      flex: 0 0 5rem;
      justify-content: end;
    }
    span {
      display: inline-flex;
      color: var(--gray-70);
      font-weight: 600;
      flex: 0 0 6rem;
    }
    .graph-bg {
      height: 0.8rem;
      background-color: var(--gray-50);
      border-radius: 0.4rem;
      width: 100%;
      position: relative;
      span {
        position: absolute;
        left: 0;
        top: 0;
        height: 0.8rem;
        background-color: var(--primary-color);
        display: inline-flex;
        border-radius: 0.4rem;
      }
    }
  }
  select {
    border: 1px solid var(--gray-40);
    height: 3rem;
    border-radius: var(--base-round);
    padding-left: 1rem;
    font-weight: 600;
  }
}
.text-standard {
  display: block;
  font-size: 1.3rem;
  color: var(--gray-70);
  text-decoration: underline;
}
.btn-main-go {
  background-color: var(--gray-10);
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 0 var(--base-round) 0 var(--base-round);
  border: 1px solid var(--gray-50);
  position: absolute;
  right: -1px;
  top: -1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    @include boots-icon("\F135", 2.4rem, var(--gray-60));
    font-weight: 500;
    transform: rotate(-45deg);
  }
  &:hover {
    background-color: var(--secondary-color);
    &::before {
      color: var(--primary-color);
    }
  }
}
/* 조직도 */
.organization-title {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 0;
  .title-blt-item {
    display: flex;
    gap: 0.5rem;
    position: relative;
    a {
      border: 1px solid var(--gray-50);
      height: 2.1rem;
      line-height: 1.9rem;
      font-size: 1.3rem;
      border-radius: var(--base-round);
      padding-inline: 0.7rem;
      &:hover {
        color: var(--primary-color);
        background-color: var(--bg-color);
        border-color: var(--primary-color);
      }
    }
    .number {
      color: var(--primary-color);
      font-weight: 600;
      margin-left: 0.5rem;
    }
  }
  .title-blt-box {
    position: absolute;
    left: 0;
    top: 2.5rem;
    border: 1px solid var(--gray-50);
    border-radius: var(--base-round);
    padding: 1.5rem;
    background-color: var(--gray-0);
    z-index: 1;
    display: none;
    p {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      padding: 0.4rem;
      justify-content: space-between;
    }
    span {
      display: inline-flex;
      width: 10rem;
      &::before {
        content: "";
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        background-color: var(--gray-60);
        display: inline-flex;
        margin: 0.4rem 0.5rem 0 0;
      }
    }
    strong {
      display: inline-flex;
      font-weight: 700;
    }
  }
}
.organization-box {
  border: 1px solid var(--gray-50);
  border-left: 4px solid var(--gray-50);
  position: relative;
  border-radius: var(--base-round);
  margin: 1rem;
  padding-top: 1.5rem;
  .btn-expand {
    position: absolute;
    right: 1rem;
    top: 2rem;
    &::before {
      @include boots-icon("\F282", 1.8rem, var(--gray-70));
    }
    &:hover {
      &::before {
        color: var(--primary-color);
      }
    }
  }
  .fold {
    &::before {
      @include boots-icon("\F286", 1.8rem, var(--gray-70));
    }
  }
  &__title {
    height: 2rem;
    line-height: 2rem;
    padding-inline: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: var(--gray-20);
    display: inline-flex;
    margin-inline: 1rem;
  }
  &__list {
    li {
      background-color: var(--gray-10);
      border-top: 1px solid var(--gray-50);
      position: relative;
      height: 4.5rem;
      line-height: 4.5rem;
      padding-inline: 1.5rem;
      display: none;
      strong {
        font-weight: 700;
      }
      &:last-child {
        border-radius: 0 0 var(--base-round) var(--base-round);
      }
    }
    .leader {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      background-color: var(--gray-0);
      border: none;
      height: auto;
      .photo {
        margin-right: 0.7rem;
        img {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
        }
      }
      .name {
        font-size: 1.7rem;
      }
    }
    .btn-group {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      gap: 0.3rem;
      span {
        display: inline-flex;
        border: 1px solid var(--gray-50);
        height: 2.1rem;
        width: 2.1rem;
        border-radius: var(--base-round);
        align-items: center;
        justify-content: center;
        background-color: var(--gray-0);
      }
      .event1 {
        &::before {
          @include svg-icon-bg("../images/icon/umbrage.svg", 1.4rem, 1.4rem);
        }
      }
      .event2 {
        &::before {
          @include svg-icon-bg("../images/icon/stroller.svg", 1.3rem, 1.3rem);
        }
      }
      .event-teams {
        background: url("../images/icon/teams.png") 50% 50% no-repeat;
      }
      .event-birthday {
        width: auto;
        padding-inline: 0.5rem;
        font-size: 1.2rem;
        &::before {
          @include boots-icon("\F8E8", 1.2rem, var(--gray-70));
          font-weight: 500;
          margin-right: 0.4rem;
        }
      }
    }
  }
}
.organization-box.on {
  border-left-color: var(--primary-color);
  .organization-box__title {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  .organization-box__list {
    li {
      display: flex;
    }
  }
}
.payment-box {
  display: flex;
  &__title {
    width: 18rem;
    background-color: var(--gray-10);
    height: 100%;
    border-right: 1px solid var(--gray-50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--base-round) 0 0 var(--base-round);
    strong {
      font-size: 1.8rem;
      display: inline-flex;
      margin-top: 0.5rem;
    }
    .btn-group {
      display: flex;
      margin-top: 1rem;
      a {
        border: 1px solid var(--gray-50);
        width: 2.6rem;
        height: 2.6rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: -1px;
        &:hover {
          border-color: var(--primary-color);
          z-index: 1;
          &::before {
            color: var(--primary-color);
          }
        }
      }
      .prev {
        &::before {
          @include boots-icon("\F284", 1.3rem, var(--gray-70));
        }
      }
      .next {
        &::before {
          @include boots-icon("\F285", 1.3rem, var(--gray-70));
        }
      }
    }
  }
  &__con {
    width: calc(100% - 18rem);
    display: flex;
    align-items: center;
    .content {
      flex: 0 0 50%;
      position: relative;
      padding-inline: 3rem;
      border-right: 1px solid var(--gray-50);
      &:last-child {
        border-right: none;
      }
      strong {
        display: block;
        font-size: 1.8rem;
        font-weight: 500;
        width: calc(100% - 8rem);
      }
      .date {
        display: block;
        color: var(--gray-60);
        margin-top: 0.8rem;
        .name {
          margin-left: 0.5rem;
          &::before {
            content: "I";
            color: var(--gray-50);
            font-weight: 200;
            padding-right: 0.8rem;
            display: inline-flex;
          }
        }
      }
      .status {
        position: absolute;
        right: 3rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--gray-70);
        color: var(--gray-0);
        font-size: 1.3rem;
        height: 2.3rem;
        line-height: 2.1rem;
        padding-inline: 1rem;
        border-radius: var(--base-round);
      }
      &:hover {
        strong {
          color: var(--primary-color);
        }
        .status {
          background-color: var(--primary-color);
        }
      }
    }
  }
}

.application-list {
  grid-column: span 2;
  &__title {
    text-align: center;
    height: 9.5rem;
    display: flex;
    justify-content: end;
    flex-direction: column;
    strong {
      margin-top: 0.5rem;
      font-size: 3rem;
      display: inline-flex;
    }
  }
  &__con {
    height: calc(100% - 9.5rem);
    display: flex;
    align-items: center;
    .content-group {
      height: 8.5rem;
      overflow-y: auto;
      margin: 4rem;
      width: 100%;
    }
    .content {
      display: flex;
      justify-content: space-between;
      margin-block: 0.5rem;
      strong {
        &::before {
          content: "";
          width: 0.4rem;
          height: 0.4rem;
          border-radius: 50%;
          background-color: var(--gray-50);
          display: inline-flex;
          margin-right: 0.5rem;
          transform: translateY(-50%);
        }
      }
      .date {
        color: var(--gray-60);
        display: inline-flex;
      }
      .status {
        display: inline-flex;
        background-color: var(--gray-70);
        color: var(--gray-0);
        font-size: 1.3rem;
        height: 2.3rem;
        line-height: 2.1rem;
        padding-inline: 1rem;
        border-radius: var(--base-round);
        margin-inline: 0.5rem;
      }
    }
  }
}
.statistic-list {
  grid-column: span 2;
  &__title {
    text-align: center;
    height: 9.5rem;
    display: flex;
    justify-content: end;
    flex-direction: column;
    strong {
      margin-top: 0.5rem;
      font-size: 3rem;
      display: inline-flex;
    }
  }
  &__con {
    height: calc(100% - 9.5rem);
    display: flex;
    align-items: center;
    .content-group {
      height: 8.5rem;
      overflow-y: auto;
      margin: 4rem;
      width: 100%;
    }
    .graph-wrap {
      display: flex;
      align-items: center;
      margin-top: 1.2rem;
      .title {
        display: inline-flex;
        font-weight: 600;
        width: 7.5rem;
        align-items: center;
        &::before {
          content: "";
          width: 0.4rem;
          height: 0.4rem;
          border-radius: 50%;
          background-color: var(--gray-50);
          display: inline-flex;
          margin-right: 0.5rem;
        }
      }
      .graph-bg {
        height: 0.8rem;
        background-color: var(--gray-50);
        border-radius: 0.4rem;
        width: calc(100% - 14rem);
        position: relative;
        span {
          position: absolute;
          left: 0;
          top: 0;
          height: 0.8rem;
          background-color: var(--primary-color);
          display: inline-flex;
          border-radius: 0.4rem;
        }
      }
      .number {
        font-size: 1.3rem;
        width: 6.5rem;
        display: inline-flex;
        justify-content: end;
        font-weight: 600;
        color: var(--gray-60);
        padding-right: 0.5rem;
        strong {
          color: var(--primary-color);
          font-weight: 600;
        }
      }
    }
    .yellow {
      .graph-bg {
        span {
          background-color: #f3c950;
        }
      }
      .number {
        strong {
          color: #f3c950;
        }
      }
    }
  }
}
