@use "../base/index" as *;
/* ---------------------- popup-small ---------------------- */
.pop-small {
  position: absolute;
  background-color: var(--gray-0);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: var(--base-round);
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.pop-small.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.pop-small .pop-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  @include svg-icon("../images/icon/close.svg", 1.8rem, 1.8rem);
}

.pop-theme {
  right: 0.5rem;
  top: 6.5rem;
  padding: 1.5rem 2rem;
  .theme-setting {
    display: flex;
    margin-top: 1rem;
    gap: 1.5rem;
    li {
      text-align: center;
      font-weight: 600;
      font-size: var(--text-small);
      position: relative;
    }
    a {
      display: block;
      border: 1px solid var(--gray-40);
      height: 3.5rem;
      width: 4rem;
      border-radius: var(--base-round);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem;
      &:hover {
        border-color: var(--primary-color);
      }
    }
    .blue {
      background: url("../images/theme_blue.png") 50% 50% no-repeat;
    }
    .green {
      background: url("../images/theme_green.png") 50% 50% no-repeat;
    }
    .red {
      background: url("../images/theme_red.png") 50% 50% no-repeat;
    }
    .black {
      background: url("../images/theme_black.png") 50% 50% no-repeat;
    }
    .on {
      a {
        border-color: var(--primary-color);
        &::after {
          content: "";
          width: 1.6rem;
          height: 1.6rem;
          position: absolute;
          right: -0.7rem;
          top: -0.7rem;
          border-radius: 50%;
          background: var(--primary-color) url("../images/theme_check.png")
            0.3rem 0.3rem no-repeat;
        }
      }
      color: var(--primary-color);
    }
  }
}
.pop-mypage {
  right: 0rem;
  top: 6.5rem;
  padding: 1.5rem 1rem;
  li {
    padding: 0.7rem 1rem;
    a {
      display: flex;
      align-items: center;
    }
    &:hover a {
      color: var(--primary-color);
    }
    &:first-child {
      border-top: 1px solid var(--gray-50);
      margin-top: 1.2rem;
      padding-top: 1.2rem;
    }
  }
  .btn-pw-modify {
    span {
      @include svg-icon("../images/icon/edit.svg", 1.8rem, 1.8rem);
      margin-right: 0.8rem;
    }
    &:hover span {
      background-image: var(--icon-edit);
    }
  }
  .btn-logout {
    span {
      @include svg-icon("../images/icon/logout.svg", 1.8rem, 1.8rem);
      margin-right: 0.8rem;
    }
    &:hover span {
      background-image: var(--icon-logout);
    }
  }
}

/* ---------------------- popup[common] ---------------------- */
.dimmed {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 99;
}
.dimmed.active {
  opacity: 1;
}
.pop-wrap {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 90%;
  max-height: 90%;
  background: var(--gray-0);
  border-radius: var(--pop-round);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 100;
}
.pop-wrap.active {
  opacity: 1;
}
.pop-wrap.maximized {
  width: 90%;
  height: 90%;
}
.pop-header {
  height: 5rem;
  align-items: center;
  display: flex;
  padding: 0 1rem;
  border-bottom: 1px solid var(--gray-50);
  flex-shrink: 0;
  .btn-wrap {
    flex: 1;
  }
  .pop-close {
    @include svg-icon("../images/icon/close.svg", 1.8rem, 1.8rem);
    &:hover {
      background-image: var(--icon-close);
    }
  }
  .pop-maximize {
    @include svg-icon("../images/icon/maximize.svg", 1.5rem, 1.5rem);
    &:hover {
      background-image: var(--icon-maximize);
    }
  }
  .tooltip-text {
    bottom: calc(-100% - 1.5rem);
  }
}
.pop-body {
  background-color: var(--gray-0);
  padding: 2rem;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}
.pop-body.bg {
  background-color: var(--gray-20);
}
.pop-footer {
  flex-shrink: 0;
  padding-block: 2rem;
  border-top: 1px solid var(--gray-50);
}

/* ---------------------- popup[유틸 > 알려드립니다] ---------------------- */
#noticePop {
  min-width: 48rem;
  .pop-body {
    background-color: var(--gray-20);
  }
  .notice-box {
    border: 1px solid var(--gray-50);
    border-radius: var(--pop-round);
    &__title {
      background-color: var(--gray-20);
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem 0.5rem 2rem;
      border-bottom: 1px solid var(--gray-50);
      border-radius: var(--pop-round) var(--pop-round) 0 0;
      a {
        font-size: var(--text-small);
        text-decoration: underline;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
    &__con {
      background-color: var(--gray-0);
      padding: 1rem 2rem 2rem;
      border-radius: 0 0 var(--pop-round) var(--pop-round);
      line-height: 1.4;
      max-height: 28rem;
      overflow-y: auto;
      .text-wrap {
        display: block;
        border-bottom: 1px solid var(--gray-50);
        padding-block: 1rem;
        position: relative;
        span {
          color: var(--gray-60);
        }
        span.notice-blt {
          background-color: var(--primary-color);
          color: var(--gray-0);
          padding: 0.2rem 1rem 0.1rem;
          font-size: var(--text-small);
          border-radius: 1rem;
          display: inline-flex;
          margin-bottom: 0.5rem;
        }
        .btn-individual-delete {
          position: absolute;
          right: 1rem;
          top: 50%;
          @include svg-icon("../images/icon/trash.svg", 2rem, 2rem);
          display: block;
          &:hover {
            background-image: var(--icon-trash);
          }
        }
        &:hover {
          p {
            color: var(--primary-color);
            text-decoration: underline;
          }
        }
      }
    }
  }
  .notice-all .notice-box__con {
    max-height: 18rem;
  }
}

/* ---------------------- popup[평가자상세] ---------------------- */
#raterPop {
  min-width: 95rem;
  min-height: 60rem;
}

/* ---------------------- popup[재직증명(한글)] ---------------------- */
#employmentPop {
  min-width: 101rem;
  .pop-con-wrap {
    background-color: var(--gray-0);
    border: 1px solid var(--gray-50);
    padding: 2rem;
    border-radius: var(--pop-round);
    width: 67%;
    height: 100%;
    textarea {
      height: 9rem;
    }
  }
  .payment-wrap {
    position: absolute;
    right: 0;
    top: 5rem;
    width: calc(33% - 1rem);
    margin-left: 1rem;
    background-color: var(--gray-0);
    border-left: 1px solid var(--gray-50);
    height: calc(100% - 5rem);
    display: flex;
    flex-direction: column;
    &__con {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 0;
    }
    .payment-method {
      height: 3.5rem;
      border: 1px solid var(--gray-50);
      display: flex;
      align-items: center;
      border-radius: var(--base-round);
      margin-top: 1rem;
      strong {
        display: inline-flex;
        background-color: var(--gray-10);
        color: var(--gray-70);
        width: 35%;
        border-right: 1px solid var(--gray-50);
        height: 100%;
        align-items: center;
        padding-left: 1rem;
        border-radius: var(--base-round) 0 0 var(--base-round);
      }
      select {
        border: none;
        width: calc(65% - 1rem);
        padding-left: 1rem;
        color: var(--gray-70);
      }
    }
    .payment-line {
      position: relative;
      flex: 1;
      overflow-y: auto;
      margin-top: 1rem;
      &::before {
        content: "";
        position: absolute;
        left: 1.1rem;
        top: 0;
        bottom: 0;
        width: 0.1rem; /* 점선 두께 */
        background: repeating-linear-gradient(
          to bottom,
          var(--gray-50) 0,
          var(--gray-50) 0.3rem,
          transparent 0.3rem,
          transparent 0.6rem
        );
        margin-top: 4rem;
      }
      &__con {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;
        .number {
          display: inline-flex;
          width: 2.3rem;
          height: 2.3rem;
          border-radius: 50%;
          border: 1px solid var(--gray-50);
          font-weight: 700;
          color: var(--gray-60);
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
          background-color: var(--gray-0);
          z-index: 2;
        }
        .txt {
          background-color: var(--gray-20);
          padding: 2rem;
          flex: 1;
          border-radius: var(--base-round);
          line-height: 1.3;
          position: relative;
          strong {
            font-weight: 700;
          }
          p {
            color: var(--gray-60);
          }
          .text-box {
            display: inline-flex;
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            padding: 0.2rem 0.8rem 0;
            border: 1px solid var(--gray-50);
            color: var(--primary-color);
            border-radius: var(--base-round);
            font-size: 1.3rem;
          }
        }
      }
    }
    .pop-footer {
      margin-top: auto;
    }
  }
  .note-wrap {
    background-color: var(--gray-10);
    border: 1px solid var(--gray-50);
    padding: 2rem;
    border-radius: var(--base-round);
    margin-top: 2rem;
  }
}

/* ---------------------- popup[비밀번호찾기] ---------------------- */
#findpwPop {
  min-width: 48rem;
  .form-wrap {
    margin: 4rem 5rem 0;
    p {
      border: 1px solid var(--gray-50);
      border-radius: 1rem;
      margin-bottom: 1rem;
      position: relative;
      width: 100%;
      &::before {
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
      &:hover {
        border-color: var(--gray-100);
      }
      &:has(input:focus) {
        border-color: var(--gray-100);
      }
      &:hover::before,
      &:focus::before {
        color: var(--gray-100);
      }
    }
    input {
      width: 100%;
      height: 5rem;
      border: none;
      background-color: var(--gray-10);
      border-radius: 1rem;
      padding-left: 5rem;
      &::placeholder {
        color: var(--gray-60);
      }
    }
    .name {
      &::before {
        @include boots-icon("\F4CB", 1.8rem, var(--gray-60));
        font-weight: 500;
      }
    }
    .employee-number {
      &::before {
        @include boots-icon("\F8C9", 1.8rem, var(--gray-60));
        font-weight: 500;
      }
    }
    .email {
      &::before {
        @include boots-icon("\F32F", 1.8rem, var(--gray-60));
        font-weight: 500;
      }
    }
  }
  .guide-text {
    padding: 1rem 5rem 4rem;
    line-height: 1.4;
  }
}
