@use "../base/index" as *;
/* ---------------------- popup-small ---------------------- */
.pop-small {
  position: absolute;
  background-color: var(--gray-0);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: var(--base-round);
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.pop-small.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.pop-small .pop-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  @include svg-icon("../images/icon/close.svg", 1.8rem, 1.8rem);
}

.pop-theme {
  right: 0.5rem;
  top: 6.5rem;
  padding: 1.5rem 2rem;
  .theme-setting {
    display: flex;
    margin-top: 1rem;
    gap: 1.5rem;
    li {
      text-align: center;
      font-weight: 600;
      font-size: var(--text-small);
      position: relative;
    }
    a {
      display: block;
      border: 1px solid var(--gray-40);
      height: 3.5rem;
      width: 4rem;
      border-radius: var(--base-round);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem;
      &:hover {
        border-color: var(--primary-color);
      }
    }
    .blue {
      background: url("../images/theme_blue.png") 50% 50% no-repeat;
    }
    .green {
      background: url("../images/theme_green.png") 50% 50% no-repeat;
    }
    .red {
      background: url("../images/theme_red.png") 50% 50% no-repeat;
    }
    .black {
      background: url("../images/theme_black.png") 50% 50% no-repeat;
    }
  }
  .on {
    a {
      border-color: var(--primary-color);
      &::after {
        content: "";
        width: 1.6rem;
        height: 1.6rem;
        position: absolute;
        right: -0.7rem;
        top: -0.7rem;
        border-radius: 50%;
        background: var(--primary-color) url("../images/theme_check.png") 0.3rem
          0.3rem no-repeat;
      }
    }
    color: var(--primary-color);
  }
}
.pop-mypage {
  right: 0rem;
  top: 6.5rem;
  padding: 1.5rem 1rem;
  li {
    padding: 0.7rem 1rem;
    a {
      display: flex;
      align-items: center;
    }
    &:hover a {
      color: var(--primary-color);
    }
    &:first-child {
      border-top: 1px solid var(--gray-50);
      margin-top: 1.2rem;
      padding-top: 1.2rem;
    }
  }
  .btn-pw-modify {
    span {
      @include svg-icon("../images/icon/edit.svg", 1.8rem, 1.8rem);
      margin-right: 0.8rem;
    }
    &:hover span {
      background-image: var(--icon-edit);
    }
  }
  .btn-logout {
    span {
      @include svg-icon("../images/icon/logout.svg", 1.8rem, 1.8rem);
      margin-right: 0.8rem;
    }
    &:hover span {
      background-image: var(--icon-logout);
    }
  }
}

/* ---------------------- popup[common] ---------------------- */
.dimmed {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 99;
}
.dimmed.active {
  opacity: 1;
}
.pop-wrap {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  background: var(--gray-0);
  border-radius: var(--pop-round);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 100;
}
.pop-wrap.active {
  opacity: 1;
}
.pop-wrap.maximized {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}
.pop-header {
  height: 5rem;
  align-items: center;
  display: flex;
  padding: 0 1rem 0 2rem;
  border-bottom: 1px solid var(--gray-50);
  flex-shrink: 0;
  letter-spacing: -0.15rem;
  .text-box {
    padding: 0.3rem 1rem;
  }
  .btn-wrap {
    flex: 1;
  }
  .pop-close {
    @include svg-icon("../images/icon/close.svg", 1.8rem, 1.8rem);
    &:hover {
      background-image: var(--icon-close);
    }
  }
  .pop-maximize {
    @include svg-icon("../images/icon/maximize.svg", 1.5rem, 1.5rem);
    &:hover {
      background-image: var(--icon-maximize);
    }
  }
  .tooltip-text {
    bottom: calc(-100% - 1.5rem);
  }
}
.pop-body {
  background-color: var(--gray-0);
  padding: 2rem;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  position: relative;
}
.pop-body.bg {
  background-color: var(--gray-20);
}
.pop-body.bg-round {
  border-radius: 0 0 var(--pop-round) var(--pop-round);
}
.pop-footer {
  flex-shrink: 0;
  padding-block: 2rem;
  border-top: 1px solid var(--gray-50);
}

/* ---------------------- popup[유틸 > 알려드립니다] ---------------------- */
#noticePop {
  min-width: 48rem;
  .pop-body {
    background-color: var(--gray-20);
  }
  .notice-box {
    border: 1px solid var(--gray-50);
    border-radius: var(--pop-round);
    &__title {
      background-color: var(--gray-20);
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem 0.5rem 2rem;
      border-bottom: 1px solid var(--gray-50);
      border-radius: var(--pop-round) var(--pop-round) 0 0;
      a {
        font-size: var(--text-small);
        text-decoration: underline;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
    &__con {
      background-color: var(--gray-0);
      padding: 1rem 2rem 2rem;
      border-radius: 0 0 var(--pop-round) var(--pop-round);
      line-height: 1.4;
      max-height: 28rem;
      overflow-y: auto;
      .text-wrap {
        display: block;
        border-bottom: 1px solid var(--gray-50);
        padding-block: 1rem;
        position: relative;
        span {
          color: var(--gray-60);
        }
        span.notice-blt {
          background-color: var(--primary-color);
          color: var(--gray-0);
          padding: 0.2rem 1rem 0.1rem;
          font-size: var(--text-small);
          border-radius: 1rem;
          display: inline-flex;
          margin-bottom: 0.5rem;
        }
        .btn-individual-delete {
          position: absolute;
          right: 1rem;
          top: 50%;
          @include svg-icon("../images/icon/trash.svg", 2rem, 2rem);
          display: block;
          &:hover {
            background-image: var(--icon-trash);
          }
        }
        &:hover {
          p {
            color: var(--primary-color);
            text-decoration: underline;
          }
        }
      }
    }
  }
  .notice-all .notice-box__con {
    max-height: 18rem;
  }
}

/* ---------------------- popup[평가자상세] ---------------------- */
#raterPop {
  min-width: 95rem;
  min-height: 60rem;
}

/* ---------------------- popup[재직증명(한글)] ---------------------- */
#employmentPop {
  min-width: 101rem;
  .pop-con-wrap {
    background-color: var(--gray-0);
    border: 1px solid var(--gray-50);
    padding: 2rem;
    border-radius: var(--pop-round);
    width: 67%;
    height: 100%;
    textarea {
      height: 9rem;
    }
  }
  .payment-wrap {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(33% - 1rem);
    margin-left: 1rem;
    background-color: var(--gray-0);
    border-left: 1px solid var(--gray-50);
    height: 100%;
    display: flex;
    flex-direction: column;
    &__con {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 0;
    }
    .payment-method {
      height: 3.5rem;
      border: 1px solid var(--gray-50);
      display: flex;
      align-items: center;
      border-radius: var(--base-round);
      margin-top: 1rem;
      strong {
        display: inline-flex;
        background-color: var(--gray-10);
        color: var(--gray-70);
        width: 35%;
        border-right: 1px solid var(--gray-50);
        height: 100%;
        align-items: center;
        padding-left: 1rem;
        border-radius: var(--base-round) 0 0 var(--base-round);
      }
      select {
        border: none;
        width: calc(65% - 1rem);
        padding-left: 1rem;
        color: var(--gray-70);
      }
    }
    .payment-line {
      position: relative;
      flex: 1;
      overflow-y: auto;
      margin-top: 1rem;
      &::before {
        content: "";
        position: absolute;
        left: 1.1rem;
        top: 0;
        bottom: 0;
        width: 0.1rem; /* 점선 두께 */
        background: repeating-linear-gradient(
          to bottom,
          var(--gray-50) 0,
          var(--gray-50) 0.3rem,
          transparent 0.3rem,
          transparent 0.6rem
        );
        margin-top: 4rem;
      }
      &__con {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;
        .number {
          display: inline-flex;
          width: 2.3rem;
          height: 2.3rem;
          border-radius: 50%;
          border: 1px solid var(--gray-50);
          font-weight: 700;
          color: var(--gray-60);
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
          background-color: var(--gray-0);
          z-index: 2;
        }
        .txt {
          background-color: var(--gray-20);
          padding: 2rem;
          flex: 1;
          border-radius: var(--base-round);
          line-height: 1.3;
          position: relative;
          strong {
            font-weight: 700;
          }
          p {
            color: var(--gray-60);
          }
          .text-box {
            display: inline-flex;
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            padding: 0.2rem 0.8rem 0;
            border: 1px solid var(--gray-50);
            color: var(--primary-color);
            border-radius: var(--base-round);
            font-size: 1.3rem;
          }
        }
      }
    }
    .pop-footer {
      margin-top: auto;
    }
  }
  .note-wrap {
    background-color: var(--gray-10);
    border: 1px solid var(--gray-50);
    padding: 2rem;
    border-radius: var(--base-round);
    margin-top: 2rem;
  }
}

/* ---------------------- popup[비밀번호찾기] ---------------------- */
#findpwPop {
  min-width: 48rem;
  .form-wrap {
    margin: 4rem 5rem 0;
    p {
      border: 1px solid var(--gray-50);
      border-radius: 1rem;
      margin-bottom: 1rem;
      position: relative;
      width: 100%;
      &::before {
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
      &:hover {
        border-color: var(--gray-100);
      }
      &:has(input:focus) {
        border-color: var(--gray-100);
      }
      &:hover::before,
      &:focus::before {
        color: var(--gray-100);
      }
    }
    input {
      width: 100%;
      height: 5rem;
      border: none;
      background-color: var(--gray-10);
      border-radius: 1rem;
      padding-left: 5rem;
      &::placeholder {
        color: var(--gray-60);
      }
    }
    .name {
      &::before {
        @include boots-icon("\F4CB", 1.8rem, var(--gray-60));
        font-weight: 500;
      }
    }
    .employee-number {
      &::before {
        @include boots-icon("\F8C9", 1.8rem, var(--gray-60));
        font-weight: 500;
      }
    }
    .email {
      &::before {
        @include boots-icon("\F32F", 1.8rem, var(--gray-60));
        font-weight: 500;
      }
    }
  }
  .guide-text {
    padding: 1rem 5rem 4rem;
    line-height: 1.4;
  }
}
/* ---------------------- popup[연말 업적평가] ---------------------- */
#evaluationUnderReviewAchievementPop,
#evaluationUnderReviewCompetencyPop,
#evaluationNotSubmitPop,
#evaluationGoalApprovaPop,
#evaluationInprogressPop,
#evaluationCapabilityInprogressPop {
  min-width: 110rem;
}

#departmentGoalsPop {
  min-width: 80rem;
  min-height: 55rem;
}
#evaluationInterviewCoachingPop {
  min-width: 120rem;
  min-height: 60rem;
}
.evaluation-pop-wrap {
  display: flex;
  width: 100%;
  gap: 1rem;
  height: 100%;
  overflow: hidden;
}
.evaluation-pop-left {
  border: 1px solid var(--gray-50);
  border-radius: var(--pop-round);
  width: 23.5rem;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.evaluation-pop-right {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.evaluation-pop-leftfull {
  border-right: 1px solid var(--gray-50);
  background-color: var(--gray-20);
  width: 30rem;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2rem;
  overflow-y: auto;
}
.evaluation-pop-rightfull {
  flex: 1;
  margin-left: 30rem;
}
.coaching-pop-right {
  display: flex;
  flex-direction: column;
  height: 55rem;
}
.maximized {
  .coaching-pop-right {
    height: calc(100vh - 15rem);
  }
}
.evaluation-pop-write {
  border: 1px solid var(--gray-50);
  border-radius: var(--pop-round);
  position: relative;
  overflow-y: auto;
}
.grade-group {
  padding: 1rem;
}
.grade-box {
  border: 1px solid var(--gray-50);
  border-radius: var(--base-round);
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  &:hover {
    border-color: var(--primary-color);
  }
  span {
    display: inline-flex;
    align-items: center;
    height: 3.5rem;
    &:last-child {
      border-radius: 0 var(--base-round) var(--base-round) 0;
    }
  }
  &__title {
    flex: 1;
    padding-left: 1.5rem;
    font-weight: 600;
  }
  &__percent {
    width: 6rem;
    background-color: var(--bg-color);
    color: var(--primary-color);
    border-left: 1px solid var(--gray-50);
    font-weight: 600;
    justify-content: flex-end;
    padding-right: 1rem;
  }
  &__txt {
    width: 3.5rem;
    font-weight: 600;
    justify-content: center;
    border-left: 1px solid var(--gray-50);
  }
}
.grade-box.on {
  border-color: var(--primary-color);
}
.grade-s {
  background-color: #fff1f1;
  color: #e64f56;
}
.grade-a {
  background-color: #eafff0;
  color: #44c378;
}
.grade-b {
  background-color: #fff3d1;
  color: var(--yellow-color);
}
.grade-c {
  background-color: #f5f9fe;
  color: #1277e7;
}
.grade-d {
  background-color: #f4f5f6;
  color: var(--gray-100);
}
.icon-performance {
  &::before {
    @include boots-icon("\F19E", 1.3rem, var(--gray-100));
    margin-right: 0.5rem;
    font-weight: 400;
  }
}
.icon-evaluation {
  &::before {
    @include boots-icon("\F1CB", 1.3rem, var(--gray-100));
    margin-right: 0.5rem;
    font-weight: 400;
  }
}
.icon-performance-rating {
  &::before {
    @include boots-icon("\F724", 1.3rem, var(--primary-color));
    margin-right: 0.5rem;
    font-weight: 400;
  }
}
.icon-feedback {
  &::before {
    @include boots-icon("\F4C9", 1.3rem, var(--primary-color));
    margin-right: 0.5rem;
    font-weight: 400;
  }
}
.icon-feedback-base {
  &::before {
    @include boots-icon("\F4C9", 1.3rem, var(--gray-100));
    margin-right: 0.5rem;
    font-weight: 400;
  }
}
.evaluation-txtbox {
  border: 1px solid var(--gray-50);
  border-radius: var(--pop-round);
  display: flex;
  align-items: stretch;
  height: 7.2rem;
  &__title {
    display: inline-flex;
    width: 16rem;
    background-color: var(--gray-10);
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding-block: 2rem;
    border-right: 1px solid var(--gray-50);
    border-radius: var(--pop-round) 0 0 var(--pop-round);
  }
  &__form {
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 0 var(--pop-round) var(--pop-round) 0;
    textarea.auto-textarea {
      width: 100%;
      border: none;
      margin: 1rem;
      padding: 0;
      max-height: 5.2rem;
      overflow-y: auto;
    }
  }

  &__form.editable {
    background-color: var(--gray-0);
  }

  &__form.readonly {
    background-color: var(--gray-10);
  }
}

.evaluation-txtbox.position-bottom {
  border: none;
  border-top: 1px solid var(--gray-50);
  border-radius: 0 0 var(--pop-round) var(--pop-round);
  .evaluation-txtbox__title {
    border-radius: 0 0 0 var(--pop-round);
  }
}
.grade-wrap {
  display: flex;
  align-items: center;
  .number {
    font-size: 2rem;
    font-weight: 600;
    margin-inline: 0.5rem;
  }
}
.grade-level.not-link {
  a {
    cursor: default;
  }
}
.grade-level {
  a {
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--base-round);
    border: 1px solid var(--gray-50);
    margin-left: 0.5rem;
    &:first-child {
      margin-left: 1rem;
    }
  }

  .grade-s {
    &:hover {
      background-color: #e64f56;
      color: var(--gray-0);
      border-color: #e64f56;
    }
  }
  .grade-s.on {
    background-color: #e64f56;
    color: var(--gray-0);
    border-color: #e64f56;
  }
  .grade-a {
    &:hover {
      background-color: #44c378;
      color: var(--gray-0);
      border-color: #44c378;
    }
  }
  .grade-a.on {
    background-color: #44c378;
    color: var(--gray-0);
    border-color: #44c378;
  }
  .grade-b {
    &:hover {
      background-color: var(--yellow-color);
      color: var(--gray-0);
      border-color: var(--yellow-color);
    }
  }
  .grade-b.on {
    background-color: var(--yellow-color);
    color: var(--gray-0);
    border-color: var(--yellow-color);
  }
  .grade-c {
    &:hover {
      background-color: #1277e7;
      color: var(--gray-0);
      border-color: #1277e7;
    }
  }
  .grade-c.on {
    background-color: #1277e7;
    color: var(--gray-0);
    border-color: #1277e7;
  }
  .grade-d {
    &:hover {
      background-color: var(--gray-100);
      color: var(--gray-0);
      border-color: var(--gray-100);
    }
  }
  .grade-d.on {
    background-color: var(--gray-100);
    color: var(--gray-0);
    border-color: var(--gray-100);
  }
}
.total-weight-box {
  margin-top: auto;
  border-top: 1px solid var(--gray-50);
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 0 0 var(--pop-round) var(--pop-round);
  &__title {
    flex: 1;
    color: var(--primary-color);
    padding: 1.5rem;
    font-weight: 600;
    border-right: 1px solid var(--gray-50);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &::before {
      @include boots-icon("\F1DF", 1.4rem, var(--primary-color));
      font-weight: 400;
      margin-right: 0.4rem;
    }
  }
  &__con {
    width: 8rem;
    font-weight: 600;
    color: var(--primary-color);
    justify-content: center;
    display: inline-flex;
  }
}
.evaluation-left-bottom {
  margin-top: auto;
  border-top: 1px solid var(--gray-50);
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 0 0 var(--pop-round) var(--pop-round);
  &__title {
    flex: 1;
    color: var(--primary-color);
    padding: 1.5rem;
    font-weight: 600;
    border-right: 1px solid var(--gray-50);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &__con {
    flex: 1;
    font-weight: 600;
    justify-content: center;
    display: inline-flex;
  }
}
.evaluation-bottom {
  background-color: var(--gray-20);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 0 var(--pop-round) var(--pop-round);
  border-top: 1px solid var(--gray-50);
  &__title {
    background-color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--gray-50);
    width: 12rem;
    border-radius: var(--pop-round) 0 0 var(--pop-round);
    color: var(--primary-color);
    font-weight: 600;
    padding: 2rem 0;
  }
  &__con {
    justify-content: center;
    width: calc(100% - 12rem);
  }
  .evaluation-txtbox__title {
    background-color: var(--bg-color);
    color: var(--primary-color);
  }
}
.evaluation-bottom-left {
  display: flex;
  background-color: var(--gray-0);
  border: 1px solid var(--gray-50);
  border-radius: var(--pop-round);
  width: 23.5rem;
}
.evaluation-bottom-right {
  flex: 1;
  display: flex;
  margin-left: 1rem;
  background-color: var(--gray-0);
  border: 1px solid var(--gray-50);
  border-radius: var(--pop-round);
}
.approver-pop-wrap {
  display: flex;
  align-items: stretch;
  border: 1px solid var(--gray-50);
  border-radius: var(--base-round);
  margin-bottom: 0.5rem;
  background-color: var(--gray-10);
  &__pic {
    flex: 1;
    border-radius: var(--base-round) 0 0 var(--base-round);
    padding: 1.2rem 1rem;
    display: flex;
    align-items: center;
    background-color: var(--gray-0);
    .approver-photo img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
    .approver-info {
      margin-left: 1rem;
      strong {
        display: block;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
      span {
        display: block;
        color: var(--gray-70);
      }
    }
  }
  &__status {
    width: 6rem;
    border-left: 1px solid var(--gray-50);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-10);
    border-radius: 0 var(--base-round) var(--base-round) 0;
  }
  &__more {
    width: 2.5rem;
    border-left: 1px solid var(--gray-50);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &::before {
      @include boots-icon("\F285", 1.3rem, var(--gray-60));
    }
  }
  &:hover {
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    .approver-pop-wrap__more {
      &::before {
        @include boots-icon("\F285", 1.3rem, var(--primary-color));
      }
    }
    .approver-pop-wrap__more {
      &::before {
        @include boots-icon("\F285", 1.3rem, var(--primary-color));
      }
    }
  }
}
.approver-pop-wrap.on {
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
  .approver-pop-wrap__pic {
    background-color: var(--bg-color);
  }
  .approver-pop-wrap__more {
    &::before {
      @include boots-icon("\F285", 1.3rem, var(--primary-color));
    }
  }
}

.approver-pop-wrap.status-done {
  .approver-pop-wrap__pic {
    border-left: 4px solid var(--primary-color);
  }
  .text-box {
    color: var(--primary-color);
  }
}
.approver-pop-wrap.status-rejected {
  .approver-pop-wrap__pic {
    border-left: 4px solid var(--yellow-color);
  }
  .text-box {
    color: var(--yellow-color);
  }
}
.approver-pop-wrap.status-approval {
  .approver-pop-wrap__pic {
    border-left: 4px solid var(--gray-50);
  }
  .text-box {
    color: var(--gray-60);
  }
}
.hr-wrap-pop {
  display: flex;
  padding: 2rem 0 2rem 2rem;
  flex: none !important;
  .hr-info-rep {
    flex: 1;
    .text-wrap {
      strong {
        font-size: 1.8rem !important;
      }
    }
  }
}
.hr-pop-info {
  display: flex;
  align-items: center;
  min-width: 26rem;
  max-width: 40rem;
  &__pic {
    margin-right: 1.5rem;
    img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
    }
  }
  &__name {
    strong {
      display: block;
      font-size: 2.5rem;
      font-weight: 600;
    }
    span {
      display: block;
      margin-top: 0.5rem;
    }
  }
}
.evaluation-pop-hr {
  background-color: var(--gray-10);
  border-radius: var(--pop-round) var(--pop-round) 0 0;
  &__info {
    padding: 2rem;
    border-bottom: 1px solid var(--gray-50);
    display: flex;
    align-items: center;
    .photo {
      margin-right: 1rem;
      img {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
      }
    }
    .name {
      strong {
        font-size: 2.5rem;
        font-weight: 500;
        display: block;
        margin-bottom: 0.5rem;
      }
    }
  }
  &__department {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    border-bottom: 1px solid var(--gray-50);
    .con {
      margin-right: 1.5rem;
      display: flex;
      align-items: center;
      padding-block: 1rem;
      strong {
        color: var(--gray-70);
        font-weight: 600;
        margin-right: 0.5rem;
        display: inline-flex;
        white-space: nowrap;
      }
      .text-box {
        border-color: var(--primary-color);
        white-space: nowrap;
      }
    }
  }
}
